
.box {
  border: 2px solid transparent;
  margin-bottom: .5em !important;
}

.box:hover {
  box-sizing: border-box;
  border: 2px solid hsl(204, 86%, 53%);
  box-shadow: 0px 5px 25px -6px rgba(0,0,0,0.5);
}
